            p{
        text-align: center;
        font-size: 15px;
        font-family: 'Calibri';
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    h1{
        font-size: 30px;
        font-family: fantasy;
        margin-top: 0px;
        text-align: auto;
    }
    
    .img{
        border: black 5px solid;
        text-align: center;
        height: 200px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    
    .pespecial{
        text-align: left;
    }
